body{
    background-color: rgb(85, 42, 13);
    color: gold;
    font-family: "Luckiest Guy", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{
    background-color: rgb(64, 180, 28);
    color: rgb(32, 58, 6);
    font-family: "Luckiest Guy", sans-serif;
}

.passo {
    display:none;
}

.passo.ativo {
    display: block;
}