body{
    background-color: rgb(18, 63, 102);
    color: rgb(250, 214, 5);
    font-family: "Luckiest Guy", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;
}

button{
    background-color: rgb(64, 180, 28);
    color: rgb(10, 58, 4);
    font-family: "Luckiest Guy", sans-serif;
}

.passo {
    display:none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 95%;
}

img {
    max-width: 80%;
}